pyrekordbox
mutagen
pytest
pytest-mock
pytest-cov
pytest-xdist
requests
pytest-asyncio
httpx
aiosqlite
anyio
fastapi
sqlalchemy[asyncio]
boto3
python-jose[cryptography]
python-multipart
pydantic[email]
slowapi
asyncpg
psycopg2-binary
pgvector
python-json-logger
defusedxml
