pyrekordbox
mutagen
pytest
pytest-mock
pytest-cov
requests
pytest-asyncio
httpx
aiosqlite
anyio
fastapi
sqlalchemy[asyncio]
boto3
python-jose[cryptography]
bcrypt
python-multipart
pydantic[email]
slowapi
asyncpg
python-json-logger
